<div class="logo">
  <h1>Overtime Tracker</h1>
</div>
<ul class="custom-nav nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link #{active?(root_path)}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Time Entries", posts_path, class: "nav-link #{active?(posts_path)}"%>
  </li>
  <li class="nav-item">
    <%= link_to "Add New Entry", new_post_path, class: "nav-link #{active?(new_post_path)}", id: "new_post_from_nav" %>
  </li>
  <li class="nav-item dropdown float-right">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true " aria-expanded="false">Account</a>
    <div class="dropdown-menu">
      <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: "delete" %>
    </div>
  </li>
</ul>
